<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="template1" >   <!--  ceci est obligatoire dans la balise html -->
<head>
<meta charset="utf-8">
<title>403</title>

</head>
<body>


	<div layout:fragment="content">
			<div class="col-md-4 col-md-offset-4 spacer40">
	
	<div class="panel panel-primary">
		<div class="panel-heading">Problem d autorisation</div>
		<div class="panel-body">
	
			<div class="red">
				vous n aviez pas le droit d acceder a cette resource
			
			</div>
	
		</div>

	</div>
	
	
	</div>

	</div>





</body>
</html>


